/* Genel Stil */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #7abea7; /* Yeşil tonunda arka plan */
}

/* Header */
header {
  background: linear-gradient(to bottom, #333, #000000);
  color: white;
  text-align: center;
  padding: 0.1px 0;
}

/* Footer */
footer {
  background: linear-gradient(to bottom, #333, #000000);
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer p {
  margin: 0;
}

/* Giriş Paneli */
.container {
  background-color: #a5c8bcbd;
  border-radius: 9px;
  padding: 1px;
  width: 50%;
  height: 270px;
  max-width: 1200px;
  margin: 25px auto;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  color: rgb(84, 84, 84);
  font-size: 24px;
  margin-bottom: 20px;
}

.divider1 {
  height: 2px;
  background-color: rgba(128, 128, 128, 0.605);
  border-radius: 0px;
  border: 0px solid;
}

.divider2 {
  height: 3px;
  background-color: rgba(128, 128, 128, 0.605);
  border-radius: 0px;
  border: 0px solid;
}

input {
  margin: 10px 0;
  margin-right: 250px;
  padding: 9px;
  width: 30%;
  border: 1px solid #ccc;
  border-radius: 9px; /* Sivri köşe yok */
  box-sizing: border-box;
}

button {
  background-color: black;
  color: white;
  width: 20%;
  padding: 9px;
  margin: 10px 0;
  width: 150px;
  border: 1px solid #ccc;
  border-radius: 9px;
  margin-right: 330px;
  cursor: pointer;
}

button:hover {
  background-color: #333;
}

/* Üye Paneli */
#memberContainer .overlay {
  background: rgba(0, 0, 0, 0.7);
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 700px;
  margin: 20px auto;
  color: white;
  text-align: center;
}

/* Üye Bilgileri Tablosu */
#userInfoTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#userInfoTable th, #userInfoTable td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ccc;
}

#userInfoTable th {
    background-color: #f2f2f2;
}

.footer-actions button {
  width: 48%;
}
